// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap";

html, body {
  width: 100%;
  height: 100%;
}

body {
  //padding-top: 50px;
  margin-top: 100px;
  //font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  //font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  //font-weight: 700;
}

@media(min-width:768px) {
  body {
    margin-top: 50px;
  }
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #e1e1e1;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 20px;
  }
}

/**********************
 * Top navigation bar *
 **********************/
.topnav {
  padding: 0 15px;
}

.top-nav > li {
  display: inline-block;
  float: left;
}

.top-nav> li > a {
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #fff;
  background-color: #000;
}

.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}

/**************************
 * Home Page before Login *
 **************************/
/*
.intro-page {
  color: #B0BEC5;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  vertical-align: middle;
}

.content {
  padding-top: 100px;
  text-align: center;
  display: inline-block;
  font-weight: 100;
  font-family: 'Lato';
}

.title {
  font-size: 96px;
  margin-bottom: 80px;
}

.quote {
  font-size: 24px;
} */
.topnav {
  font-size: 14px;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/sky-no1.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/red_wine_wall.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}

/***********************
 * Login/register page *
 ***********************/
.login-back, .register-back {
  width: 100%;
  height: 100%;
  background: url(http://mymaplist.com/img/parallax/back.png);
  background-color: #444;
  background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);
}

.vertical-offset-100{
  padding-top: 200px;
}

// Pages after login/register
// total revenue page
/*
.plot-page {
  padding-top: 50px;
  text-align: center;
}

.voffset {
  margin-top: 100px;
}*/

#test {
  margin-left: -50px;
}


/**********************
 * Sidebar navigation *
 **********************/
@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav > li > a {
    width: 225px;
    color: #999;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}

.side-nav > li > ul {
  padding: 0;
}

.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav>li>ul>li>a:hover {
  color: #fff;
}


/*
 * Top large panel in main dashboard
 */
.col-md-3 {
  padding: 15px;
}

.top-panel {
  border-radius: 0;
}

#p1, #p2, #p3, #p4 {
  height: auto;
  font-size: 50px;
}

.main-header {
  border: 0px;
  font-size: 17px;
}

.panel-footer {
  text-align: right;
  font-size: 17px;
}

#p1 {
  background-color: #FF91AF;
}

#p2 {
  background-color: #A4D354;
}

#p3 {
  background-color: #5F9F9F;
}

#p4 {
  background-color: #86B4CF;
}


// panel color in departments page
#appetizer-panel {
  background-color: #FF91AF;
}
#bar-panel {
  background-color: #A4D354;
}
#dimsum-panel {
  background-color: #5F9F9F;
}
#expensive-panel {
  background-color: #86B4CF;
}
#general-panel {
  background-color: #98EFFC;
}
#luxury-panel {
  background-color: #8080ff;
}
#product-panel {
  background-color: #f690ff;
}
#seafood-panel {
  background-color: #ffe52f;
}
#soup-panel {
  background-color: #ff8687;
}

// spacing for show_departments page
#extend-up {
  margin-top: 50px;
}
#extend-down {
  margin-bottom: 150px;
}
/*
 * Main content
 */
/*
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

*/
/*
 * Placeholder dashboard ideas
 */
